{% load static %}
<footer class="container-fluid bg-primary">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                <div class="p-1">
                    <p class="float-end"><a href="#">Voltar ao topo</a></p>
                    <p>&copy; 2023 GoBuds.  Powered by Michael Lima - 2023.</p>
                </div>
            </div>
            <div class="col">
                <div class="p-1 text-right">
                    <p>&middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos de uso</a></p>
                    <p>
                        <a href="" target="_blank">
                            <img src="{% static 'logo/logo-redes/icons8-whatsapp.svg'%}" alt="Ícone do seu diretório">
                        </a>
                        <a href="" target="_blank">
                            <img src="{% static 'logo/logo-redes/icons8-instagram.svg'%}" alt="Ícone do seu diretório">
                        </a>
                        <a href="" target="_blank">
                            <img src="{% static 'logo/logo-redes/icons8-facebook.svg'%}" alt="Ícone do seu diretório">
                        </a>
                        <a href="" target="_blank">
                            <img src="{% static 'logo/logo-redes/icons8-facebook-messenger.svg'%}" alt="Ícone do seu diretório">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>